Traer las librerias requeridas

In [ ]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
import os
from google.colab import drive
from google.colab import files

Traer las bases de datos de Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Función para cargar un archivo CSV desde un enlace compartido de Google Drive
def cargar_csv_de_google(file_id):
    url = f'https://drive.google.com/uc?id={file_id}'
    return pd.read_csv(url)

# IDs de los archivos CSV compartidos
file_ids = [
    '1qNYXffWElwC2avT11_JQiUfGANVGW0zC',
    '1yQtBcTbM1sZWpMr6uEQaNA_yD6ty_8Fq',
    '1up65NRosXjqCSeXYv_AW9LuoE9vxIl1s'
]

# Cargar cada archivo en un dataframe y almacenarlos en una lista
dataframes = [cargar_csv_de_google(file_id) for file_id in file_ids]

# Combinar todos los dataframes en uno solo
combined_dataframe = pd.concat(dataframes, ignore_index=True)

In [ ]:
len(combined_dataframe)

457412

Funciones que se usaran durante el resto de la limpieza del archivo

In [ ]:
# Función para eliminar columnas
def eliminar_columnas(df, columnas_eliminar):
  df_copy = df.copy()
  df_copy.drop(columns=columnas_eliminar, inplace=True)
  return df_copy

# Función para modificar los nombres de las columnas.
def actualizar_columnas(df, nuevos_nombres):
  df.rename(columns=nuevos_nombres, inplace=True)
  return df

# Función para reemplazar los valores de una columna
def reemplazar_valores(df, diccionario):
  df_copy = df.copy()
  for columna, nuevos_valores in diccionario.items():
        if columna in df_copy.columns:
            df_copy[columna] = df_copy[columna].replace(nuevos_valores)
        else:
            print(f"Warning: Columna '{columna}' no encontrdada en DataFrame")
  return df_copy

def reemplazar_nulos(df):
    return df.fillna('No Informa')

Se realiza la limpieza del archivo

In [ ]:
# Función para eliminar columnas.
columnas_Eliminar = ['TIPO_REG','COD_ENCUESTAS','U_VIVIENDA','P_NROHOG','P_NRO_PER','PA11_COD_ETNIA','PA12_CLAN','PA21_COD_VITSA','PA22_COD_KUMPA','PB1_QOTRAS_LENG','PA_VIVIA_5ANOS','PA1_CALIDAD_SERV','CONDICION_FISICA','PA_HNV','PA1_THNV','PA2_HNVH','PA3_HNVM','PA_HNVS','PA2_HSVH','PA3_HSVM','PA_HFC', 'PA2_HFCH','PA3_HFCM','PA_UHNV','PA1_MES_UHNV',
'PA2_ANO_UHNV', 'PA_HABLA_LENG','PA1_ENTIENDE','PB_OTRAS_LENG','P_QUEHIZO_PPAL','PA_LO_ATENDIERON','PA1_THFC']
df_modificado = eliminar_columnas(combined_dataframe, columnas_Eliminar)
df_modificado.info()

In [ ]:
# Renombrar columnas
nuevos_nombres = {
'U_DPTO': 'DEPARTAMENTO',
'U_MPIO': 'MUNICIPIO',
'UA_CLASE':'CLASE',
'P_SEXO': 'SEXO',
'P_EDADR': 'RANGO_EDAD',
'P_PARENTESCOR' :'JEFE_HOGAR',
'PA1_GRP_ETNIC': 'ETNIA',
'PA_LUG_NAC':'NACIO_AQUI',
'PA_VIVIA_1ANO':'RESIDENCIA_UN_ANO',
'P_ENFERMO':'ENFERMEDAD',
'P_ALFABETA':'ALFABETA',
'PA_ASISTENCIA':'ASISTENCIA',
'P_NIVEL_ANOSR':'NIVEL_EDUCATIVO',
'P_TRABAJO':'OCUPACION',
'P_EST_CIVIL':'ESTADO_CIVIL',
'PA1_THSV':'NUMERO_HIJOS',
}
df_renombrado=actualizar_columnas(df_modificado, nuevos_nombres)
df_renombrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250249 entries, 0 to 1250248
Data columns (total 16 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   DEPARTAMENTO       1250249 non-null  int64
 1   MUNICIPIO          1250249 non-null  int64
 2   CLASE              1250249 non-null  int64
 3   SEXO               1250249 non-null  int64
 4   RANGO_EDAD         1250249 non-null  int64
 5   JEFE_HOGAR         1237447 non-null  float64
 6   ETNIA              1250249 non-null  int64
 7   NACIO_AQUI         1250249 non-null  int64
 8   RESIDENCIA_UN_ANO  1237447 non-null  float64
 9   ENFERMEDAD         1237447 non-null  float64
 10  ALFABETA           1150367 non-null  float64
 11  ASISTENCIA         1137680 non-null  float64
 12  NIVEL_EDUCATIVO    1150367 non-null  float64
 13  OCUPACION          1030443 non-null  float64
 14  ESTADO_CIVIL       1042682 non-null  float64
 15  NUMERO_HIJOS       319057 non-null   float64
dtypes: float64(9), int64(7)
memory usage: 152.6 MB

In [ ]:
#Reemplazar los valores de las columnas

nuevos_valores = {
    'SEXO': {
        1: 'HOMBRE',
        2: 'MUJER'
    },
    'DEPARTAMENTO': {
        63: 'QUINDIO',
        86: 'PUTUMAYO',
        27: 'CHOCO'
    },
    'JEFE_HOGAR': {
        1: 'JEFE HOGAR',
        2: 'PAREJA',
        3: 'HIJO_HIJASTRO',
        4: 'PARIENTE',
        5: 'NO_PARIENTE',
        6: 'NA'
    },
    'CLASE': {
        1: 'CABECERA',
        4: 'RESTO'
    },
    'NIVEL_EDUCATIVO': {
        1: 'PREESCOLAR',
        2: 'PRIMARIA',
        3: 'SECUNDARIA',
        4: 'MEDIA_ACADÉMICA',
        5: 'MEDIA_TÉCNICA',
        6: 'NORMALISTA',
        7: 'TECNICA',
        8: 'UNIVERSITARIO',
        9: 'POSGRADO',
        10: 'NINGUNO',
        99: 'NO INFORMA'
      },
    'ETNIA': {
        1: 'INDIGENA',
        2: 'RROM',
        3: 'RAIZAL',
        4: 'PALENQUERO',
        5: 'AFRODESCENDIENTE',
        6: 'NINGUNO',
        9: 'NO INFORMA'
      },
    'ENFERMEDAD': {
        1: 'SI',
        2: 'NO',
        9: 'NO INFORMA'
    },
    'ALFABETA': {
        1: 'SI',
        2: 'NO',
        9: 'NO INFORMA'
    },
    'ASISTENCIA': {
        1: 'SI',
        2: 'NO',
        9: 'NO INFORMA'
    },
    'RANGO_EDAD': {
        1: 'de 00 A 04 Años',
        2: 'de 05 A 09 Años',
        3: 'de 10 A 14 Años',
        4: 'de 15 A 19 Años',
        5: 'de 20 A 24 Años',
        6: 'de 25 A 29 Años',
        7: 'de 30 A 34 Años',
        8: 'de 35 A 39 Años',
        9: 'de 40 A 44 Años',
        10: 'de 45 A 49 Años',
        11: 'de 50 A 54 Años',
        12: 'de 55 A 59 Años',
        13: 'de 60 A 64 Años',
        14: 'de 65 A 69 Años',
        15: 'de 70 A 74 Años',
        16: 'de 75 A 79 Años',
        17: 'de 80 A 84 Años',
        18: 'de 85 A 89 Años',
        19: 'de 90 A 94 Años',
        20: 'de 95 A 99 Años',
        21: 'de 100 y más Años'
    },
    'OCUPACION': {
        1: 'Trabajo una hora minimo en algo que genera ingreso',
        2: 'Trabajó o ayudó sin pago en algun negocio',
        3: 'Tenía trabajo/negocio con ingresos',
        4: 'Busco trabajo',
        5: 'Vivió de jubilación, pensión o renta',
        6: 'Estudió',
        7: 'Realizó oficios del hogar',
        8: 'Está incapacitado(a) permanentemente para trabajar',
        9: 'Estuvo en otra situación',
        0: 'No informa'
    },
    'ESTADO_CIVIL': {
        1: 'UNION_LIBRE',
        2: 'CASADO',
        3: 'DIVOCIADO',
        4: 'SEPARADO UNIN_LIBRE',
        5: 'SEPARADO MATRIMONIO',
        6: 'VIUDO',
        7: 'SOLTERO',
        9: 'NO INFORMA'
    }
}
df_actualizado= reemplazar_valores(df_renombrado, nuevos_valores)
len(df_actualizado)

1250249

In [ ]:
df_actualizado.info()

Reemplazar valores nulos

In [ ]:
df_final= reemplazar_nulos(df_actualizado)
for column in df_final.columns:
  print(column)
  print(df_final[column].isna().sum())

In [ ]:
print(df_actualizado['OCUPACION'].unique())
print(df_actualizado['NIVEL_EDUCATIVO'].unique())
print(df_actualizado['ETNIA'].unique())

Cargue de información en base de datos.

In [ ]:
# Instalar el controlador ODBC 17 para SQL Server
!apt-get install unixodbc-dev
!pip install pymssql

In [ ]:
# Importar el módulo pymssql
import pymssql

# Función para cargar datos en las tablas del Data Warehouse
def load_data_to_dwh(df, table_name):
    SERVER = 'mssql-185979-0.cloudclusters.net'
    PORT = 10064
    USER = 'Bootcamp280'
    PASSWORD = 'A1234567b'
    DATABASE = 'PROYECTO_DEPTOS'

    try:
        conn_str = {
            'host': SERVER,
            'port': PORT,
            'user': USER,
            'password': PASSWORD,
            'database': DATABASE,
            'charset': 'utf8'
        }
        conn = pymssql.connect(**conn_str)

        if conn:
            cursor = conn.cursor()
            batch_size = 1000  # Commit every 1000 records
            counter = 0

            for index, row in df.iterrows():
                query = f"INSERT INTO {table_name} ({', '.join(row.index)}) VALUES ({', '.join(['%s'] * len(row))})"
                cursor.execute(query, tuple(row))
                counter += 1

                if counter % batch_size == 0:
                  conn.commit()
                  print(f"Committed {counter} records")

            conn.commit()
            print(f"Datos cargados en la tabla {table_name} exitosamente.")

    except pymssql.Error as e:
        print("Error en la conexión o consulta:", e)

    finally:
        if 'conn' in locals() and conn:
            conn.close()
            print("Conexión cerrada.")

In [ ]:
load_data_to_dwh(df_final, 'Tabla_final_deptos')

In [ ]:
df_final.info()

In [ ]:
df_final.head()

,DEPARTAMENTO,MUNICIPIO,CLASE,SEXO,RANGO_EDAD,JEFE_HOGAR,ETNIA,NACIO_AQUI,RESIDENCIA_UN_ANO,ENFERMEDAD,ALFABETA,ASISTENCIA,NIVEL_EDUCATIVO,OCUPACION,ESTADO_CIVIL,NUMERO_HIJOS
0,QUINDIO,1,CABECERA,HOMBRE,de 60 A 64 Años,JEFE HOGAR,NINGUNO,2,2.0,SI,SI,NO,PRIMARIA,Trabajo una hora minimo en algo que genera ing...,CASADO,No Informa
1,QUINDIO,1,CABECERA,MUJER,de 60 A 64 Años,PAREJA,NINGUNO,2,2.0,NO,SI,NO,SECUNDARIA,Realizó oficios del hogar,CASADO,3.0
2,QUINDIO,1,CABECERA,HOMBRE,de 25 A 29 Años,HIJO_HIJASTRO,NINGUNO,2,2.0,NO,SI,SI,MEDIA_ACADÉMICA,Trabajo una hora minimo en algo que genera ing...,SOLTERO,No Informa
3,QUINDIO,1,CABECERA,HOMBRE,de 10 A 14 Años,PARIENTE,NINGUNO,2,2.0,NO,SI,SI,SECUNDARIA,Estudió,SOLTERO,No Informa
4,QUINDIO,1,CABECERA,HOMBRE,de 30 A 34 Años,HIJO_HIJASTRO,NINGUNO,2,2.0,NO,SI,NO,MEDIA_ACADÉMICA,Trabajo una hora minimo en algo que genera ing...,UNION_LIBRE,No Informa

In [ ]:
# Filtrar a los primeros 50,000 registros
df_filtrado = df.iloc[:50000]